<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ddwiki">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".otherpage.HistoryCollectActivity"
            android:label="历史记录"
            ></activity>
        <activity
            android:name=".otherpage.LikeCollectActivity"
            android:label="收藏夹" />
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.LikeActivity" />
        <activity
            android:name=".otherpage.LoginActivity"
            android:label="登录"
            android:theme="@style/LoginTheme" />
        <activity android:name=".activities.EnterpriseActivity" />
        <activity android:name=".otherpage.IntroduceActivity" />
        <activity android:name=".activities.SearchResultActivity" />
        <activity android:name=".otherpage.AboutActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".otherpage.MainpageActivity" />
        <activity
            android:name=".FifthActivity"
            android:label="其他运营" />
        <activity
            android:name=".activities.OtherActivity"
            android:theme="@style/HoloActivityTheme" />
        <activity
            android:name=".ForthActivity"
            android:label="四大天王" />
        <activity
            android:name=".activities.FourActivity"
            android:theme="@style/HoloActivityTheme" />
        <activity
            android:name=".ThirdActivity"
            android:label="个人势" />
        <activity
            android:name=".activities.IndActivity"
            android:theme="@style/HoloActivityTheme" />
        <activity
            android:name=".SecondActivity"
            android:label="彩虹社" />
        <activity
            android:name=".activities.NJSJActivity"
            android:theme="@style/HoloActivityTheme" />
        <activity
            android:name=".activities.HoloActivity"
            android:theme="@style/HoloActivityTheme" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Hololive" />
    </application>

</manifest>